<div class="script-builder"  [class.remove]="removeMode">
  <div>
    <span class="script-controls">
        <span id="refreshView" (click)="refresh!=refresh"></span>
        <a class="addDialogue" (click)="addMode=!addMode" *ngIf="!addMode || removeMode">Add</a>
        <span class="btnScript" *ngIf="addMode && !removeMode">
          <img src="images/UD.png" (click)="addDialogue('vertical')"/>
          <img src="images/LR.png" (click)="addDialogue('horizontal')"/>
          <img class="cancel" src="https://cdn1.iconfinder.com/data/icons/epic-hand-drawns/64/delete-512.png" (click)="addMode=!addMode"/>

        </span>/
        <a class="removeDialogue" (click)="removeMode=!removeMode">{{(removeMode)?"Okay":"Remove"}}</a>
    </span>
    <span>Dialogues</span>
  </div>

  <div class="jigsawContainer">
    <div class="jigsaw clearfix" *ngFor="let script of storyScript, let i = index" id="{{i}}" #jigsaw>
      <div class="parallel" *ngFor="let item of script, let j = index" [attr.data-name]="item.actor" #parallel>
        <span class="t"></span>
        <span class="b"></span>
        <span class="l"></span>
        <span class="r"></span>
        <span class="text">
<!--           <img class="actor" src="http://storykart.herokuapp.com/sprites/{{item.actor}}.svg"/> -->
          <div class="multiple-select-wrapper">
            <div class="selected-item-box">
                  <img class="scriptActor" #currentActor (click)="toggleList(actorsList,jigsaw)" src="http://storykart.herokuapp.com/sprites/{{item.actor}}.svg" title="{{item.actor}}" />
            </div>
            <div class="list" #actorsList>
             <ul class="items-list">
                <li *ngFor="let actor of availableActors">
                  <img (click)="changeActor(actor,actorsList,i,j)" src="http://storykart.herokuapp.com/sprites/{{actor}}.svg" title="{{actor}}" alt="{{actor}}" />
                  <!--<div>{{airline.name}}</div>-->
                </li>
              </ul>
            </div>
          </div>          
          <img class="dustbin" id="dusbin" (click)="deleteDialogue(i,j)" src="https://cdn1.iconfinder.com/data/icons/epic-hand-drawns/64/delete-512.png"/>
          <textarea class="scriptText" (change)="updateDialogue($event,i,j)" >{{item.speech}}</textarea>
        </span>
      </div>
    </div>
  </div>
</div>