@import 'grid';
@import "default";

*,
*:before,
*:after {
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('fonts/hp.ttf');
}

html, body {
	height: 100%;
	color: #505050;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
	font-family: 'Harry Potter';
	letter-spacing: 1px;
	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
		color: #77C7AC;
	}
	a {
		text-decoration: none;
		color: #fcfcfc;
		font-weight: 300;
		&:hover {
			color: #3c3c3c;
		}
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}	
}

header{
	top: 0;
	left: 0;
	width: 100%;
	height: 25em;
	z-index: 999;
	position: fixed;
	overflow: hidden;
	text-align: center;
	background-color: #483d8b;
	transition: height 0.3s;
	-o-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-webkit-transition: height 0.3s;
	border-bottom:solid 0.5em #f4f4f4;
	.wrapper{
	    top: 50%;
		width: 100%;
		margin: 0 auto;
	    position: absolute;
	    transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
		h1#logo {
			margin: 0;
		    padding: 25px;
			line-height: 1;
			color: #e83c5d;
			cursor: pointer;
			font-size: 60px;
			font-weight: 400;
			display: inline-block;
			font-family: 'Harry Potter';
			transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			@media all and (max-width: 760px) {
				display: block;
				height: 100px;
			}
		}
		h3.tagline{
			line-height: 1;
			color: #32cd32;
		}
		nav{
			display: inline-block;
			float: right;
			a{
				line-height: 150px;
				margin-left: 20px;
			    padding: 10px;
				color: #77C7AC;
				font-weight: 300;
				font-size: 1em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				&:hover{
					color: #fff;
				}
				@media all and (max-width: 760px) {
					line-height: 50px;
					margin: 0 10px;
				}
			}
			@media all and (max-width: 760px) {
				display: block;
				float: none;
				height: 50px;
				text-align: center;
				margin: 0 auto;			
			}
		}
		button{
			width: 100px;
			height: 45px;
			color: #77C7AC;
			cursor: pointer;
			margin-top: 45px;
		    padding: 10px;
		    letter-spacing: 5px;	
			border-radius: 5px;
			border: 1px solid #e83c5d;
			font-size: 20px;
			font-weight: bold;
		    font-family: 'Harry potter';
			background-color: #483d8b;
			&:hover {
				color: #fff;		
			}
		}
	}
	&.scrolled{
		height: 75px;
		text-align: left;
		.wrapper {
			h1#logo{
				width: 150px;
				height: 75px;
				font-size: 30px;
			}
			nav {
				right: 0;
				top: 50%;
				position: absolute;
			    transform: translateY(-50%);
			    -o-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			    -moz-transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    padding: 0 20px;
				a{
					font-family: 'Harry Potter';
					letter-spacing: 2px;
					@media all and (max-width: 760px) {
						line-height: 35px;
					}
				}
			}
		}		
	}
}

.page-wrap {
	background-color: #fff;
	padding-top: 25em;
  	min-height:500px;
  	height: 100%;
  	&.scrolled{
		padding-top: 10em;
  	}
  	#main{
  		#content{
  			section{
  				padding: 60px 0;
  				.container{
					margin: 0 auto;
					padding: 0 30px;
					text-align: center;
  					.story{
						height: 200px;
						margin: 15px 0;
						.story-preview{
							height: 150px;
							background-color: #e83c5d;
							color: #fff;
							font-weight: bold;
							position: relative;
							div{
							    margin: 0 auto;
							    position: absolute;
							    top: 50%;
							    width: 100%;
							    transform: translateY(-50%);
							}
							.overlay {
							    position:absolute;
							    width:0;
							    width:100%;
							    height:100%;
							    background-color:rgba(0, 0, 0, 0.8);
							    display:none;
								.view-preview{
									color: #fff;
									margin-top: 40px;
									span{
										border: 1px solid;
										padding: 10px 10px 3px 10px;
										margin-top: 40px;
										cursor: pointer;
									}
								}
							}
							&:hover{
								.overlay{
									display:block;
								}
							}
						}
						.story-footer{
							height: 50px;
							background-color: #483d8b;
							.user{
								float: left;
								color: #fff;
								img{
								    width: 45px;
								    border-radius: 50px;
								    border: 1px solid #d6cdcd;
								    margin: 2px 12px;
								}
								span{
									vertical-align: top;
									font-weight: bold;
									display: inline-block;
									padding-top: 15px;
									margin-left: -5px;
									color: #fff;								
								}
							}
							.stars{
								float: right;
								line-height: 50px;
								padding: 0 20px;
								span{
									vertical-align: top;
									font-weight: bold;
									display: inline-block;
									padding-top: 3px;
									margin-left: -5px;
									color: #fff;
									&.count{
										margin:0;
									}
								}
								i{
									font-style: normal;
									font-size: 30px;
									color: #ffd700;
									cursor: pointer;
									display: inline-block;
									margin-top: 5px;
								}								
							}
						}
						@media all and (max-width: 920px) {
							width: 48%;
						}
						@media all and (max-width: 740px) {
							width: 80%;
						}
						@media all and (max-width: 540px) {
							width: 100%;
						}
  					}
  				}
  			}
  		}
  	}
}
.dashboard-page{
	margin-top: -5em;
	#main{
		#content{
			.row{
				margin: 0;
				width: 100%;
				padding: 20px 50px;
				margin-bottom: 60px;
				.story-title{
					margin-bottom: 20px;
					padding-left: 30px;
					input{
						width: 38%;
					    padding: 0 10px;
					    @media all and (max-width: 768px){
					    	width: 100%;
					    }
					}
				}
				.btn-wrapper{
				    text-align: right;
				    padding: 0;
				    margin-bottom: 20px;
					.btn-export{
						display: inline;
						margin: 0 10px;
						border: 1px solid #a9a9a9;
						padding: 5px 5px 0 5px;
						font-size: 17px;
						border-radius: 10px;
						cursor: pointer;
						&:hover{
							color: #77C7AC;
						}
					}
					.btn-reset{
						display: inline;
						margin: 0 10px;
						border: 1px solid #a9a9a9;
						padding: 5px 5px 0 5px;
						font-size: 17px;
						border-radius: 10px;
						cursor: pointer;
						&:hover{
							color: #77C7AC;
						}
					}
					.btn-publish{
						display: inline;
						margin: 0 10px;
						border: 1px solid #a9a9a9;
						padding: 5px 5px 0 5px;
						font-size: 17px;
						border-radius: 10px;
						cursor: pointer;
						&:hover{
							color: #77C7AC;
						}
					}
				}
				.story-make-container{
					.add-more-actors{
						width: 60px;
						padding: 10px;
						margin: 5px;
						border: 1px dashed #a9a9a9;
						display: inline-block;
						cursor: pointer;
						float: left;
					}
					.story-actors{
						height: 90px;
						overflow-x: auto;
						overflow-y: hidden;
						white-space: nowrap;
						img{
							width: 60px;
							margin: 5px;
						    border: 1px solid #a9a9a9;
						    padding: 2px;
						    cursor: move;
						}
					}
					.story-script{
						textarea{
							width:100%;
							height:280px;
							resize: none;
							padding: 10px;
						}
						.script-message{
							padding: 10px;
							text-align: justify;
							font-size: 12px;
							border-left: 3px solid #a9a9a9;
							border-right: 3px solid #a9a9a9;
							.message{
								color: red;
							}
							.note{
								i{
									color: green;
									font-weight: bold;
									letter-spacing: 2px;
								}
								span{
									border-bottom: 1px solid;
								}
							}
						}	
					}
				}
				.story-board-container{
					text-align: right;
					.story-board-wrapper{
						overflow: auto;
						.story-board{
							border: 1px solid #a9a9a9;
							height: 400px;
							width: 600px;
							float: right;
							margin: 0 auto;
							position: relative;
							img{
								width: 60px;
								margin: 10px;
							    padding: 2px;
							    cursor: pointer;
							    position: absolute;
								&.shake
								 {
								  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
								  transform: translate3d(0, 0, 0);
								  backface-visibility: hidden;
								  perspective: 1000px;
								}

								@keyframes shake {
								  10%, 90% {
								    transform: translate3d(-1px, 0, 0);
								  }
								  
								  20%, 80% {
								    transform: translate3d(2px, 0, 0);
								  }

								  30%, 50%, 70% {
								    transform: translate3d(-4px, 0, 0);
								  }

								  40%, 60% {
								    transform: translate3d(4px, 0, 0);
								  }
								}

							}
							@media all and (max-width: 1200px) {
								float: none;
							}
						}
					}
					.story-controller{
    					text-align: center;
    					img{
    						cursor: pointer;
    						border: 1px solid #a9a9a9;
    						border-radius: 50px;
    						width: 60px;
	    					&.next-prev{
	    						padding: 5px;
	    					}
	    					&:hover{
	    						background-color: #8773ff;
	    					}
    					}
					}
				}
				.highlight{
					background-color: #f7f1ff;
					border: 1px solid #a9a9a9;
					img{
						border: none;
					}
				}
			}
		}
	}
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    .row{
    	padding: 0!important;
    	height: inherit;
    	.sprite-header{
			background-color: chocolate;
			color: #000;
			margin-bottom: 20px;    	
			text-align: center;
			padding-top: 5px;
			.col-xs-6{
				cursor: pointer;
			}
			.active{
    			border-bottom: 5px solid #000;
			}
    	}
		div.sprite-container{
			height: 55%;
			margin-bottom: 20px;
			div.sprites{
				overflow-y: auto;
				height: 100%;
				img{
					width: 60px;
					margin: 10px;
					cursor: pointer;
				}
			}
		}
		.modal-footer{
			text-align: center;
			span{
				font-size: 12px;
			}
			.btn-import{
				cursor: pointer;
				border: 1px solid #a9a9a9;
				border-radius: 7px;
			}		
		}

    }
	@media all and (min-width: 640px) {
		width: 70%;
	}
	@media all and (min-width: 980px) {
		width: 50%;
	}	
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus{
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
    }
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #483d8b;
	text-align: center;
	font-family: 'fantasy';
	min-height: 50px;
	line-height: 50px;
	color: #32cd32;
	.wrapper{
		position:relative;
		div#copy {
			padding:0;
		    word-spacing: 1px;
		    letter-spacing: 1px;
		    a{
				display: inline-block;
				margin: 0;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
		    }
		}	
	}
}
