*,
*:before,
*:after {
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('./build/assets/fonts/hp.ttf');
}

html, body {
	height: 100%;
	color: #505050;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
		color: #77C7AC;
		font-family: 'Harry Potter';
	}
	a {
		text-decoration: none;
		color: #fcfcfc;
		font-weight: 300;
		font-family: 'Harry Potter';
		&:hover {
			color: #3c3c3c;
		}
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}	
}

header{
	top: 0;
	left: 0;
	width: 100%;
	height: 25em;
	z-index: 999;
	position: fixed;
	overflow: hidden;
	text-align: center;
	background-color: #4b0082;
	transition: height 0.3s;
	-o-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-webkit-transition: height 0.3s;
	border-bottom:solid 0.5em #f4f4f4;
	.wrapper{
	    top: 50%;
		width: 100%;
		margin: 0 auto;
	    position: absolute;
	    transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
		h1#logo {
			margin: 0;
		    padding: 25px;
			line-height: 1;
			color: #32cd32;
			font-size: 60px;
			font-weight: 400;
			display: inline-block;
			font-family: 'Harry Potter';
			transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			@media all and (max-width: 760px) {
				display: block;
				float: none;
				margin: 0 auto;
				height: 100px;
				text-align: center;			
			}
		}
		h3.tagline{
			line-height: 1;
		}
		nav{
			display: inline-block;
			float: right;
			a{
				line-height: 150px;
				margin-left: 20px;
			    padding: 10px;
				color: #77C7AC;
				font-weight: 300;
				font-size: 1em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				&:hover{
					color: #fff;
				    border-radius: 10px;
				    border: 1px solid #fff;				
				}
				@media all and (max-width: 760px) {
					line-height: 50px;
					margin: 0 10px;
				}
			}
			@media all and (max-width: 760px) {
				display: block;
				float: none;
				height: 50px;
				text-align: center;
				margin: 0 auto;			
			}
		}
		button{
			width: 100px;
			height: 45px;
			color: #77C7AC;
			cursor: pointer;
			margin-top: 45px;
		    padding: 10px;
		    letter-spacing: 5px;	
			border-radius: 5px;
			border: 2px solid #32cd32;
			font-size: 20px;
			font-weight: bold;
		    font-family: 'Harry potter';
			background-color: #4b0082;
			&:hover {
				color: #fff;		
			}
		}
	}
	&.scrolled{
		height: 75px;
		text-align: left;
		.wrapper {
			h1#logo{
				width: 150px;
				height: 75px;
				font-size: 30px;
			}
			nav {
				right: 0;
				top: 50%;
				position: absolute;
			    transform: translateY(-50%);
			    -o-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			    -moz-transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    padding: 0 20px;
				a{
					font-family: 'Harry Potter';
					letter-spacing: 2px;
					@media all and (max-width: 760px) {
						line-height: 35px;
					}
				}
			}
		}		
	}
}

.page-wrap {
	background-color: #fff;
	padding-top: 25em;
  	min-height:500px;
  	height: 100%;
  	&.scrolled{
		padding-top: 10em;
  	}
  	#main{
  		#content{
  			section{
  				padding: 60px 0;
  				.container{
					margin: 0 auto;
					padding: 0 30px;
  					.story{
						border: 1px solid #d6cdcd;
						height: 200px;
						width: 30%;	
						display: inline-block;
						margin: 1%;
						.story-preview{
							height: 150px;
						}
						.story-footer{
							height: 50px;
							background-color:#32cd32;
							.stars{
								float: right;
								line-height: 50px;
								padding: 0 20px;
								span{
									vertical-align: top;
									font-weight: bold;
									display: inline-block;
									padding-top: 3px;
									margin-left: -5px;
									color: #fff;
									&.count{
										margin:0;
									}
								}
								i{
									font-style: normal;
									font-size: 30px;
									color: #4b0082;
								}								
							}
						}

  					}
  				}
  			}
  		}
  	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #4b0082;
	text-align: center;
	font-family: 'fantasy';
	min-height: 50px;
	line-height: 50px;
	color: #32cd32;
	.wrapper{
		position:relative;
		div#copy {
			padding:0;
		    word-spacing: 1px;
		    letter-spacing: 1px;
		    a{
				display: inline-block;
				margin: 0;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
		    }
		}	
	}
}
