@import 'grid';
@import "default";

*,
*:before,
*:after {
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('fonts/hp.ttf');
}

html, body {
	height: 100%;
	color: #505050;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
	font-family: cursive;
	letter-spacing: 1px;
	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
		color: #77C7AC;
	}
	a {
		text-decoration: none;
		color: #fcfcfc;
		font-weight: 300;
		&:hover {
			color: #3c3c3c;
		}
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}	
}

header{
	top: 0;
	left: 0;
	width: 100%;
	height: 25em;
	z-index: 999;
	position: fixed;
	overflow: hidden;
	text-align: center;
	background-color: #483d8b;
	transition: height 0.3s;
	-o-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-webkit-transition: height 0.3s;
	border-bottom:solid 0.5em #f4f4f4;
	.wrapper{
	    top: 50%;
		width: 100%;
		margin: 0 auto;
	    position: absolute;
	    transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
		h1#logo {
			margin: 0;
		    padding: 25px;
			line-height: 1;
			color: #e83c5d;
			cursor: pointer;
			font-size: 60px;
			font-weight: 400;
			display: inline-block;
			font-family: 'Harry Potter';
			transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			@media all and (max-width: 760px) {
				display: block;
				height: 100px;
			}
		}
		h3.tagline{
			line-height: 1;
			color: #32cd32;
		}
		nav{
			display: inline-block;
			float: right;
			a{
				line-height: 150px;
				margin-left: 20px;
			    padding: 10px;
				color: #77C7AC;
				font-weight: 300;
				font-size: 1em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				&:hover{
					color: #fff;
				}
				@media all and (max-width: 760px) {
					line-height: 50px;
					margin: 0 10px;
				}
			}
			@media all and (max-width: 760px) {
				display: block;
				float: none;
				height: 50px;
				text-align: center;
				margin: 0 auto;			
			}
		}
		button{
			width: 100px;
			height: 45px;
			color: #77C7AC;
			cursor: pointer;
			margin-top: 45px;
		    padding: 10px;
		    letter-spacing: 5px;	
			border-radius: 5px;
			border: 1px solid #e83c5d;
			font-size: 20px;
			font-weight: bold;
		    font-family: 'Harry potter';
			background-color: #483d8b;
			&:hover {
				color: #fff;		
			}
		}
	}
	&.scrolled{
		height: 75px;
		text-align: left;
		.wrapper {
			h1#logo{
				width: 150px;
				height: 75px;
				font-size: 30px;
			}
			nav {
				right: 0;
				top: 50%;
				position: absolute;
			    transform: translateY(-50%);
			    -o-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			    -moz-transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    padding: 0 20px;
				a{
					font-family: 'Harry Potter';
					letter-spacing: 2px;
					@media all and (max-width: 760px) {
						line-height: 35px;
					}
				}
			}
		}		
	}
}

.page-wrap {
	background-color: #fff;
	padding-top: 25em;
  	min-height:500px;
  	height: 100%;
  	&.scrolled{
		padding-top: 10em;
  	}
  	#main{
  		#content{
  			section{
  				padding: 60px 0;
  				.container{
					margin: 0 auto;
					padding: 0 30px;
					text-align: center;
  					.story{
						height: 200px;
						margin: 15px 0;
						.story-preview{
							height: 150px;
							background-color: #e83c5d;
							color: #fff;
							font-weight: bold;
							position: relative;
							div{
							    margin: 0 auto;
							    position: absolute;
							    top: 50%;
							    width: 100%;
							    transform: translateY(-50%);
							}
							.overlay {
							    position:absolute;
							    width:0;
							    width:100%;
							    height:100%;
							    background-color:rgba(0, 0, 0, 0.8);
							    display:none;
								.view-preview{
									color: #fff;
									margin-top: 40px;
									span{
										border: 1px solid;
										padding: 10px 10px 3px 10px;
										margin-top: 40px;
										cursor: pointer;
									}
								}
							}
							&:hover{
								.overlay{
									display:block;
								}
							}
						}
						.story-footer{
							height: 50px;
							background-color: #483d8b;
							.user{
								float: left;
								color: #fff;
								img{
								    width: 45px;
								    border-radius: 50px;
								    border: 1px solid #d6cdcd;
								    margin: 2px 12px;
								}
								span{
									vertical-align: top;
									font-weight: bold;
									display: inline-block;
									padding-top: 15px;
									margin-left: -5px;
									color: #fff;								
								}
							}
							.stars{
								float: right;
								line-height: 50px;
								padding: 0 20px;
								span{
									vertical-align: top;
									font-weight: bold;
									display: inline-block;
									padding-top: 3px;
									margin-left: -5px;
									color: #fff;
									&.count{
										margin:0;
									}
								}
								i{
									font-style: normal;
									font-size: 30px;
									color: #ffd700;
									cursor: pointer;
									display: inline-block;
									margin-top: 5px;
								}								
							}
						}
						@media all and (max-width: 920px) {
							width: 48%;
						}
						@media all and (max-width: 740px) {
							width: 80%;
						}
						@media all and (max-width: 540px) {
							width: 100%;
						}
  					}
  				}
  			}
  		}
  	}
}
.dashboard-page{
	margin-top: -5em;
	#main{
		#content{
			.row{
				margin: 0;
				width: 100%;
				padding: 20px 50px;
				margin-bottom: 60px;
				.story-title{
					margin-bottom: 20px;
					input{
						width: 38%;
					    padding: 0 10px;
					    @media all and (max-width: 768px){
					    	width: 100%;
					    }
					}
					@media all and (max-width: 992px){
						text-align: center;
				    }
				}
				.btn-wrapper{
				    text-align: right;
				    padding: 0;
				    margin-bottom: 20px;
					.widget-wrapper{
						padding-right: 15px;
						float:right;
						.add-more-actors{
							display: inline-block;
							cursor: pointer;
							img{
								width: 60px;
								padding: 10px;
								margin: 5px;
								border: 1px dashed #a9a9a9;
								border-radius: 15px;
								display: inline-block;
								&:hover{
									background-color: #604ae4;
								}
							}
							&:hover::after{
								visibility: visible;
							}
							&:after{
								content: "Objects";
								visibility:hidden;
								display: block;
								font-weight: bold;
								text-align: center;
								margin-top: -5px;
								font-size: 10px;
							}
						}
						.btn-background{
							display: inline-block;
							cursor: pointer;
							img{
								padding: 10px;
								margin: 5px;
								border: 1px solid #a9a9a9;
								border-radius: 15px;
								display: inline-block;
								width: 60px;
								height: 60px;
								&:hover{
									background-color: #604ae4;
								}

							}
							&:hover::after{
								visibility: visible;
							}
							&:after{
								content: "Backgrounds";
								visibility:hidden;
								display: block;
								font-weight: bold;
								text-align: center;
								margin-top: -5px;
								font-size: 10px;
							}
						}
						.btn-reset{
							display: inline-block;
							cursor: pointer;
							img{
								padding: 10px;
								margin: 5px;
								border: 1px solid #a9a9a9;
								border-radius: 15px;
								display: inline-block;
								width: 60px;
								height: 60px;
								&:hover{
									background-color: #604ae4;
								}

							}
							&:hover::after{
								visibility: visible;
							}
							&:after{
								content: "Reset";
								visibility:hidden;
								display: block;
								font-weight: bold;
								text-align: center;
								margin-top: -5px;
								font-size: 10px;
							}							
						}
						.btn-publish{
							display: inline-block;
							cursor: pointer;
							img{
								padding: 10px;
								margin: 5px;
								border: 1px solid #a9a9a9;
								border-radius: 15px;
								display: inline-block;
								width: 60px;
								height: 60px;
								&:hover{
									background-color: #604ae4;
								}
							}
							&:hover::after{
								visibility: visible;
							}
							&:after{
								content: "Publish";
								visibility:hidden;
								display: block;
								font-weight: bold;
								text-align: center;
								margin-top: -5px;
								font-size: 10px;
							}							
						}

						@media all and (max-width: 992px) {
							float: none;
						}						
					}
					.pull-left{
						 text-align: left;
						 width: 500px;
						.story-actors{
							height: 90px;
							overflow-x: auto;
							overflow-y: hidden;
							white-space: nowrap;
							img{
								width: 60px;
								margin: 5px;
							    border: 1px solid #a9a9a9;
							    padding: 2px;
							    cursor: move;
							}
						}
						@media all and (max-width: 992px) {
							text-align: center;
							width: 100%;
						}	
					}					
				}
				.story-make-container{
					.story-script{
						.script-builder{
							float: right;
							text-align: right;
							width: 100%;
							.script-controls{
								a{
									color: #337ab7;
									font-family: fantasy;
									cursor: pointer;
									text-decoration: none;
									&.removeDialogue{
										width: 60px;
										display: inline-block;
										text-align: left;
									}
									&:hover{
										color: #e83c5d;
									}
								}							
							}
							.jigsawContainer{
								padding: 25px;
								height:400px;
								overflow-y: auto;
								width: 100%;
							    border: 1px solid #a9a9a9;
								.jigsaw{
								    	width: 700px;
									&:first-child{
											.parallel{
											  .text{
											  	.btnUp{
											  		display: none;
											  	}
											  }
											}
										}
										&:last-child{
											.parallel{
											  .text{
											  	.btnDown{
											  		display: none;
											  	}
											  }
											}
										}
										&:nth-of-type(odd){
											.parallel{
											background-color:#483d8b!important;
												.t{
													background-color:#483d8b!important;
												}
												.l{
													background-color:#483d8b!important;
												}
												.text{
													textarea{
														float:left;
													}
													.actor{
														float: left;
													}
													.btnUp, .btnDown{
														right: 12px;
													}
												}
											}
										}
										&:nth-of-type(even){
											.parallel{
												background-color:#5397e8!important;
												.t{
													background-color:#5397e8!important;
												}
												.l{
													background-color:#5397e8!important;
												}
												.text{
													textarea{
														float:right;
													}								
													.actor{
														float: right;
													}
													.btnUp, .btnDown{
														left: 12px;
													}
												}
											}
										}


									.parallel{
										width: 300px;
										height: 6em;
										margin: 3px;
										position: relative;
										-webkit-border-radius: .5em;
										-moz-border-radius: .5em;
										border-radius: .5em;
										cursor: move;
										display: inline-block;
										float:left;
										.t{
											width: 2em;
											height: 2em;
											position: absolute;
											top: -1.7em;
											left: 8.5em;
											-webkit-border-radius: 4em;
											-moz-border-radius: 4em;
											border-radius: 4em;
										}
										.b{
											width: 1.8em;
											height: 1.8em;
											position: absolute;
											top: 4.5em;
											left: 8.5em;
											-webkit-border-radius: 4em;
											-moz-border-radius: 4em;
											border-radius: 4em;
											background-color: #fff;
										}
										.r{
											width: 2em;
											height: 2em;
											position: absolute;
											top: 2.1em;
											right: -1em;
											-webkit-border-radius: 4em;
											-moz-border-radius: 4em;
											border-radius: 4em;
											background-color: #fff;
										}
										.l{
											width: 1.8em;
											height: 1.8em;
											position: absolute;
											top: 2.2em;
											left: -1.3em;
											-webkit-border-radius: 4em;
											-moz-border-radius: 4em;
											border-radius: 4em;
										}
										.text{
											display: block;
											color: #fff;
											font-size: 1.2em;
											text-align: center;
											padding: 1em;
											position: relative;
											background: transparent !important;							
											textarea{
												position: relative;
												font-size: 14px;
												height: 50px;
												resize: none;
												color: #000;
											}
											.actor{
												width:50px;
												position: relative;
												cursor: pointer;
												&:hover{
												    border: 2px solid #000;
												}
											}
											.btnUp{
												position: absolute;
												top: 5px;
												width: 30px;
												cursor: pointer;
												display:block;
												-webkit-transform: rotate(180deg);
												border-radius: 20px;
												&:hover{
													background-color: #a0e69f;
												}
											}
											.btnDown{
												position: absolute;
												top: 60px;
												width: 30px;
												cursor: pointer;
												display:block;
												/*-webkit-transform: rotate(180deg);*/
												border-radius: 20px;
												&:hover{
													background-color: #a0e69f;
												}
											}
											.dustbin{
												position: absolute;
												width: 25px;
												border-radius: 90%;
												cursor: pointer;
												display:none;
											    top: 5px;
											    right: 5px;
												&:hover{
													background-color: #e26161;
												}
											}							
										}
									}

									@media all and (max-width: 992px) {
										margin: 3px auto;
									}
								}
								@media all and (max-width: 1199px) {
									height:420px;
								}
							}
							&.remove{
								.script-controls{
									a.removeDialogue{
										color: #e83c5d;
									}
								}
								.jigsawContainer{
									.jigsaw{
										.parallel{
											.text{
												.dustbin{
													display:block;
												}
												.btnUp,.btnDown{
													display:none;
												}
											}
										}
									}
								}
							}

							@media all and (max-width: 992px) {
							    float: none;
							    text-align: center;
							    margin-top: 20px;
							    border-top: 1px solid #a9a9a9;
							    padding-top: 10px;
							}	

						}
						.script-message{
							padding: 10px;
							text-align: justify;
							font-size: 12px;
							border-left: 3px solid #a9a9a9;
							border-right: 3px solid #a9a9a9;
							.message{
								color: red;
							}
							.note{
								i{
									color: green;
									font-weight: bold;
									letter-spacing: 2px;
								}
								span{
									border-bottom: 1px solid;
								}
							}
						}	
					}
					@media all and (max-width: 992px) {
						text-align: center;
					}
				}

				.highlight{
					background-color: #f7f1ff;
					border: 1px solid #a9a9a9;
					img{
						border: none;
					}
				}
			}
		}
	}
}
.story-board-container{
	text-align: left;
	.story-board-wrapper{
		overflow-y: hidden;
		overflow-x: auto;
		.story-board{
			height: 400px;
			width: 600px;
			float: left;
			margin: 0 auto;
			position: relative;
			img{
				width: 60px;
				margin: 10px;
			    padding: 2px;
			    cursor: move;
			    position: absolute;
				&.shake
				 {
				  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				  transform: translate3d(0, 0, 0);
				  backface-visibility: hidden;
				  perspective: 1000px;
				}

				@keyframes shake {
				  10%, 90% {
				    transform: translate3d(-1px, 0, 0);
				  }
				  
				  20%, 80% {
				    transform: translate3d(2px, 0, 0);
				  }

				  30%, 50%, 70% {
				    transform: translate3d(-4px, 0, 0);
				  }

				  40%, 60% {
				    transform: translate3d(4px, 0, 0);
				  }
				}

			}
			@media all and (max-width: 1200px) {
				float: none;
			}
		}
	}

	.story-controller-wrapper{
		.story-controller{
			text-align: center;
			width:300px;
			margin-left: 140px;
			img{
				cursor: pointer;
				border: 1px solid #a9a9a9;
				border-radius: 50px;
				width: 60px;
				&.next-prev{
					padding: 5px;
				}
				&:hover{
					background-color: #8773ff;
				}
			}
			@media all and (max-width: 992px) {
				margin: 0 auto;
			}				
		}
	}
	@media all and (max-width: 992px) {
		text-align:center;
	}
	&.display-main{
		.story-board-wrapper{
			.story-board{
				border: 1px solid #a9a9a9;
			}	
		}
		.story-controller-wrapper{
			.story-controller{
				width:100%;
				margin:0;
			}			
		}

	}
	&.display-preview{
		.story-board-wrapper{
			.story-board{
				border: 1px solid #a9a9a9;
			}	
		}
	}	
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    overflow: auto;
    .row{
    	padding: 0!important;
    	height: inherit;
    	.modal-header{
			background-color: chocolate;
			color: #000;
			margin-bottom: 20px;    	
			text-align: center;
			padding-top: 5px;
			.col-xs-6{
				cursor: pointer;
			}
			.active{
    			border-bottom: 5px solid #000;
			}
    	}
		div.modal-content{
			height: 55%;
			margin-bottom: 20px;
			div.sprites{
				overflow-y: auto;
				height: 100%;
				img{
					width: 60px;
					margin: 10px;
					cursor: pointer;
				}
			}
			div.backgrounds{
				overflow-y: auto;
				height: 100%;
				img{
					width: 150px;
					margin: 10px;
					cursor: pointer;
					&.highlight{
						border: 10px solid goldenrod;
					}
				}
			}
			div.story-json{
				overflow-y: auto;
				height: 100%;
				color: #fff;
				pre{
					font-size: 12px;
					white-space: pre-line;
				}
				background-color: #000;
			}
		}
		.modal-footer{
			text-align: center;
			div.row{
				margin: 0!important;
			}
			span{
				font-size: 12px;
			}
			.col-xs-12, .col-md-6{
				margin: 2px auto;
			}
			.no-bg{
				width: 100px;
				border: 1px solid #a9a9a9;
				display: block;
				height: 100px;
			    margin: 0 auto;
			    cursor: pointer;
			    line-height: 100px;				
			}			
			.btn-import, .btn-publish{
				cursor: pointer;
				border: 1px solid #a9a9a9;
				border-radius: 7px;
				margin: 10px 0;
			}
			.visibility-label{
				margin-top: 18px;
			}
			.visibility-option{
				font-size: 18px;			
			}
			/* The switch - the box around the slider */
			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
				top: 10px;
				/* Hide default HTML checkbox */
				input {display:none;}

				input:checked + .slider {
					background-color: #ff3838;
				}

				input:focus + .slider {
					box-shadow: 0 0 1px #ff3838;
				}

				input:checked + .slider:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}				
				/* The slider */
				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 34px;
					background-color: #00c200;
					-webkit-transition: .4s;
					transition: .4s;
					&:before {
						position: absolute;
						content: "";
						height: 26px;
						width: 26px;
						left: 4px;
						bottom: 4px;
						border-radius: 50%;
						background-color: white;
						-webkit-transition: .4s;
						transition: .4s;
					}
				}
			}			
		}

    }
	@media all and (min-width: 640px) {
		width: 70%;
	}
	@media all and (min-width: 980px) {
		width: 50%;
	}	
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus{
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
    }
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #483d8b;
	text-align: center;
	font-family: 'fantasy';
	min-height: 50px;
	line-height: 50px;
	color: #32cd32;
	.wrapper{
		position:relative;
		div#copy {
			padding:0;
		    word-spacing: 1px;
		    letter-spacing: 1px;
		    a{
				display: inline-block;
				margin: 0;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
		    }
		}	
	}
}
