  <div id="main">
      <div id="content">
            <div class="story-box row">
              <div class="story-title col-xs-12">
                <div>Title</div>
                <input type="textbox" name="title" placeholder="My awesome story">
              </div>
              <div class="btn-wrapper col-xs-12">
                <div class="btn-publish"> Publish </div>
                <div class="btn-export"> View Source </div>
                <div class="btn-reset" (click)="onReset()"> Reset </div>                
              </div>
              <div class="col-xs-12 col-sm-5"> 
                <div class="col-xs-12">
                  <div>Actors</div>
                  <div>
                    <span makeDroppable (drop)="onDrop($event)"> 
                      <img class="add-more-actors" src="images/add.svg" (click)="showModal()">
                    </span>
                    <div class="story-actors" makeDraggable makeDroppable (drop)="onDrop($event)">
                      <!-- http://www.flaticon.com/packs/kids-avatars -->
                      <img class="actor" src="sprites/boy_1.svg" name="boy_1">
                      <img class="actor" src="sprites/girl_1.svg" name="girl_1">
                      <img class="actor" src="sprites/man_1.svg" name="man_1">
                    </div>                    
                  </div>
                </div>
                <div class="col-xs-12">
                  <div>Dialogues</div>
                  <textarea></textarea>                
                </div>
              </div>                          
              <div class="story-board-container col-xs-12 col-sm-7"> 
                <div class="">Story Board</div>
                <div class="story-board-wrapper">
                  <div class="story-board" makeDraggable makeDroppable (drop)="onDrop($event)" >
                </div>
                </div>
                <div class="story-controller">
                  <img src="images/btn_previous.png" class="next-prev" (click)="execute('prev')">
<!--                   <img src="images/btn_stop.png"> -->
                  <img *ngIf="!play" src="images/btn_play.png" class="play-pause" (click)="execute('play')&&play=!play">
                  <img *ngIf="!!play" src="images/btn_stop.png" class="play-pause" (click)="execute('pause')&&play=!play">
                  <img src="images/btn_next.png" class="next-prev" (click)="execute('next')">
                </div>
              </div>
            </div>
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" (click)="hideModal()">×</span>
                <div class="row">
                  <div class="sprite-header col-xs-12">
                    <div class="col-xs-6" (click)="active='avatars'" [class.active]="active=='avatars'">
                      Avatars
                    </div>
                    <div class="col-xs-6" (click)="active='objects'" [class.active]="active=='objects'">
                      Objects
                    </div>
                  </div>
                  <div class="sprite-container col-xs-12">
                    <div class="sprites">
                      <div *ngIf="active=='avatars'">
                        <img  (click)="sprites.avatars[i].selected=!sprites.avatars[i].selected" 
                              [class.highlight]="sprites.avatars[i].selected" 
                              *ngFor="let actor of sprites.avatars, let i = index"
                              src="sprites/{{sprites.avatars[i].name}}.svg" name="{{sprites.avatars[i].name}}" > 
                      </div>
                      <div *ngIf="active=='objects'">
                        <img  (click)="sprites.objects[i].selected=!sprites.objects[i].selected" 
                              [class.highlight]="sprites.objects[i].selected" 
                              *ngFor="let obj of sprites.objects, let i = index"
                              src="sprites/{{sprites.objects[i].name}}.svg" name="{{sprites.objects[i].name}}" >
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer col-xs-12">
                    <span>Choose multiple sprites by clicking and click import</span>
                    <div class="btn-import" (click)="importAvatars()"> Import </div>
                  </div>

                </div>
              </div>
            </div>
     </div>
  </div>