  <div id="main">
      <div id="content">
            <div class="story-box row">
              <div class="story-title col-xs-12">
                <div>Title
                
                </div>
                <input type="textbox" #st (blur)="storyTitle=st.value" name="title" placeholder="My awesome story" [value]="storyTitle">
              </div>
              <div class="btn-wrapper col-xs-12 story-make-container">
                <div class="widget-wrapper">
                  <div>Widgets</div>
                  <span makeDroppable (drop)="onDrop($event)"> 
                    <span  class="add-more-actors"><img src="images/add.svg" (click)="showModal('import')"></span>
                  </span>
                    <span class="btn-background"><img src="images/bgicon.png" (click)="showModal('background')"></span>
                    <span class="btn-publish" ><img src="images/publish.png" (click)="showModal('publish')"></span>
                    <span class="btn-reset"><img src="images/reset.png" (click)="onReset()"></span>
                </div>
                <div class="pull-left">
                  <div class="col-xs-12">
                    <div>Staging Area</div>
                    <div>
                      <div class="story-actors" makeDraggable makeDroppable (drop)="onDrop($event)">
                        <!-- http://www.flaticon.com/packs/kids-avatars -->
                        <img class="actor" src="sprites/dog.svg" title="dog" name="dog" id="1475340132841">
                        <img class="actor" src="sprites/man_1.svg" title="man_1" name="man_1" id="1475340159582">
                      </div>                    
                    </div>
                  </div>
                </div>                
              </div>

              <div class="story-board-container display-preview col-xs-12 col-md-7"> 
                <div class="">Story Board</div>
                <div class="story-board-wrapper">
                  <div class="story-board" id="story-board" makeDraggable makeDroppable (drop)="onDrop($event)" [style.background-image]="'url(' + storyBackground + ')'">
                    <img class="actor"  src="sprites/boy_1.svg" name="boy_1"  title="boy_1" id="1475340909902" style="top:50px;left:100px;"> 
                    <img class="actor"  src="sprites/girl_1.svg" name="girl_1"  title="girl" id="1475340909903" style="top:150px;left:350px;"> 
                  </div>
                </div>
                <div class="story-controller-wrapper">
                  <div class="story-controller">
                    <img src="images/btn_previous.png" class="next-prev" (click)="storyStepPrev()">
                    <img *ngIf="storyMode=='paused'" src="images/btn_play.png" class="play-pause" (click)="storyPlay('play')">
                    <img *ngIf="storyMode=='play'" src="images/btn_pause.png" class="play-pause" (click)="storyMode='paused'">
                    <img  src="images/btn_stop.png" class="play-pause" (click)="storyReset()">
                    <img src="images/btn_next.png" class="next-prev" (click)="storyStepNext()">
                  </div>
                </div>                  
              </div>
              <div class="story-make-container col-xs-12 col-md-5">
                <div class="story-script col-xs-12">
                  <scriptbuilder></scriptbuilder>
                  <div  *ngIf="errScript" class="script-message"> 
                    <div class="message">Syntax error in script.</div>
                    <div class="note">Please follow <i>actor:dialogue</i> format with <span>each dialogue in a separate line</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="myModal" class="modal">
              <!-- Modal container -->
              <div class="modal-container">
                <span class="close" (click)="hideModal()">×</span>
                <div class="row">
                  <div class="modal-header col-xs-12">
                    <div *ngIf="modalType=='import'">
                      <div class="col-xs-6" (click)="active='avatars'" [class.active]="active=='avatars'">
                        Avatars
                      </div>
                      <div class="col-xs-6" (click)="active='objects'" [class.active]="active=='objects'">
                        Objects
                      </div>                      
                    </div>
                    <div *ngIf="modalType=='publish'">
                      {{storyTitle||"Untitled Story"}}
                    </div>
                    <div *ngIf="modalType=='background'">
                      {{"Available Backgrounds"}}
                    </div>
                  </div>
                  <div class="modal-content col-xs-12">
                    <div class="sprites" *ngIf="modalType=='import'">
                      <div *ngIf="active=='avatars'">
                        <img  (click)="sprites.avatars[i].selected=!sprites.avatars[i].selected" 
                              [class.highlight]="sprites.avatars[i].selected" 
                              *ngFor="let actor of sprites.avatars, let i = index"
                              src="sprites/{{sprites.avatars[i].name}}.svg" title="{{sprites.avatars[i].name}}" name="{{sprites.avatars[i].name}}" > 
                      </div>
                      <div *ngIf="active=='objects'">
                        <img  (click)="sprites.objects[i].selected=!sprites.objects[i].selected" 
                              [class.highlight]="sprites.objects[i].selected" 
                              *ngFor="let obj of sprites.objects, let i = index"
                              src="sprites/{{sprites.objects[i].name}}.svg" title="{{sprites.objects[i].name}}" name="{{sprites.objects[i].name}}" >
                      </div>
                    </div>
                    <div class="story-json row" *ngIf="modalType=='publish'">
                      <div class="col-xs-12">
                        <pre>
                          <code>
                            {{storyJSON | json}}
                          </code>
                        </pre>                        
                      </div>
                    </div>
                    <div class="backgrounds" *ngIf="modalType=='background'">
                        <img  (click)="storyBackground='//storykart.herokuapp.com/backgrounds/'+bg+'.png'" 
                              [class.highlight]="storyBackground=='//storykart.herokuapp.com/backgrounds/'+bg+'.png'" 
                              *ngFor="let bg of bgs, let i = index"
                              src="backgrounds/{{bg}}.png" title="{{bg}}" name="{{bg}}" >
                    </div>

                  </div>
                  <div class="modal-footer col-xs-12">
                    <div *ngIf="modalType=='import'">
                      <span>Select multiple sprites and click import</span>
                      <div class="btn-import" (click)="importAvatars()"> Import </div>                      
                    </div>
                    <div *ngIf="modalType=='publish'">
                      <div class="row">
                        <div class="col-xs-12 col-md-5">Author Name</div>
                        <div class="col-xs-12 col-md-7">
                          <input type="text" name="author" #sa (blur)="storyJSON.author=sa.value" [value]="'Anonymous'">
                        </div>
                        <div class="col-xs-12 col-md-5">Author Email</div>
                        <div class="col-xs-12 col-md-7">
                          <input type="email" name="author" #sae (blur)="storyJSON.email=sae.value" [value]="">
                        </div>
                        <div class="col-xs-12 col-md-5 visibility-label">Story Visibility</div>
                        <div class="col-xs-12 col-md-7">
                          <span class="visibility-option">Public</span>
                          <label class="switch">
                            <input type="checkbox" (change)="(storyJSON.visibility=='private')?storyJSON.visibility='public':storyJSON.visibility='private'">
                            <div class="slider"></div>
                          </label>
                          <span class="visibility-option">Private</span>
                        </div>

                        <div class="btn-publish col-xs-12" (click)="publishStory()">Publish</div>
                          
                      </div>
                    </div>
                    <div *ngIf="modalType=='background'">
                      <div class="no-bg" (click)="storyBackground=''">None</div>
                      <div class="btn-import" (click)="hideModal()"> Okay </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
     </div>
  </div>